[Unit]
Description=Netcat listeners

[Service]
Type=simple
ExecStart=/bin/bash -c "cd /usr/local/bin/; ./base64_msg.sh & ./full_scan.sh & ./restricted.sh"

[Install]
WantedBy=multi-user.target
