[Unit]
Description=System update listener

[Service]
Type=simple
ExecStart=ncat -l 9000 -k -c "git pull; ./setup.sh 2>&1"
WorkingDirectory=/srv/exam-config

[Install]
WantedBy=multi-user.target
