[Unit]
Description=System update listener

[Service]
Type=simple
ExecStart=/usr/bin/ncat --send-only -l 40001 -k -c "git fetch --all; git reset --hard origin/main; chmod +x *.sh; ./setup.sh 2>&1"
WorkingDirectory=/srv/vm-config
Environment="HOME=/root"

[Install]
WantedBy=multi-user.target
